<form [formGroup]="mainForm" class="main-form" [style.display]="edit?'none':'block'">
  <div nz-row>
    <div nz-col nzSpan="8">
      <nz-form-item nzFlex>
        <nz-form-label nzSpan="6">Id</nz-form-label>
        <nz-form-control nzSpan="18">
          <nz-form-text>{{mainForm.get('id').value}}</nz-form-text>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item nzFlex>
        <nz-form-label nzSpan="6" nzFor="value" nzRequired>Value</nz-form-label>
        <nz-form-control nzSpan="18">
          <nz-form-text> {{mainForm.get('value').value}}</nz-form-text>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item nzFlex>
        <nz-form-label nzSpan="6" nzFor="type" nzRequired>Type</nz-form-label>
        <nz-form-control nzSpan="18">
          <nz-form-text> {{mainForm.get('type').value}}</nz-form-text>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="8">
      <nz-form-item nzFlex>
        <nz-form-label nzSpan="6" nzFor="description">Description</nz-form-label>
        <nz-form-control nzSpan="18">
          <nz-form-text> {{mainForm.get('description').value}}</nz-form-text>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item nzFlex>
        <nz-form-label nzSpan="6" nzFor="expiration">Expiration</nz-form-label>
        <nz-form-control nzSpan="18">
          <nz-form-text> {{mainForm.get('expiration').value | date:'yyyy-MM-dd HH:mm:ss'}}</nz-form-text>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item nzFlex>
        <nz-form-label nzSpan="6" nzFor="created" nzRequired>Created</nz-form-label>
        <nz-form-control nzSpan="18">
          <nz-form-text>{{mainForm.get('created').value | date:'yyyy-MM-dd HH:mm:ss' }}</nz-form-text>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div class="operation">
    <a (click)="edit=true">
      <i nz-icon type="edit" theme="twotone"></i>
    </a>
    <nz-popconfirm [nzTitle]="'确定删除?'" (nzOnConfirm)="delete()">
      <a nz-popconfirm>
        <i nz-icon type="delete" theme="twotone" twoToneColor="#eb2f96"></i>
      </a>
    </nz-popconfirm>
  </div>
</form>

<form [formGroup]="mainForm" (ngSubmit)="submit()" class="main-form" [style.display]="edit?'block':'none'">
  <div nz-row>
    <div nz-col nzSpan="8">
      <nz-form-item nzFlex>
        <nz-form-label nzSpan="6">Id</nz-form-label>
        <nz-form-control nzSpan="18">
          <nz-form-text>{{mainForm.get('id').value}}</nz-form-text>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item nzFlex>
        <nz-form-label nzSpan="6" nzFor="value" nzRequired>Value</nz-form-label>
        <nz-form-control nzSpan="18">
          <input nz-input id="value" placeholder="Value" formControlName="value">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item nzFlex>
        <nz-form-label nzSpan="6" nzFor="type" nzRequired>Type</nz-form-label>
        <nz-form-control nzSpan="18">
          <input nz-input id="type" placeholder="Type" formControlName="type">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="8">
      <nz-form-item nzFlex>
        <nz-form-label nzSpan="6" nzFor="description">Description</nz-form-label>
        <nz-form-control nzSpan="18">
          <input nz-input id="description" placeholder="Description" formControlName="description">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item nzFlex>
        <nz-form-label nzSpan="6" nzFor="expiration">Expiration</nz-form-label>
        <nz-form-control nzSpan="18">
          <nz-date-picker id="expiration" formControlName="expiration" nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item nzFlex>
        <nz-form-label nzSpan="6" nzFor="created" nzRequired>Created</nz-form-label>
        <nz-form-control nzSpan="18">
          <nz-date-picker id="created" formControlName="created" nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" nzDisabled="true"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div class="operation">
    <a (click)="save()">
      <i nz-icon type="check-circle" theme="twotone"></i>
    </a>
    <a (click)="cancel()">
      <i nz-icon type="close-circle" theme="twotone"></i>
    </a>
  </div>
</form>
