<nz-breadcrumb class="breadcrumb">
  <nz-breadcrumb-item>
    Clients
  </nz-breadcrumb-item>
</nz-breadcrumb>
<form nz-form nzLayout="inline" [formGroup]="searchForm" class="search-form">
  <nz-form-item>
    <nz-form-label nzFor="name">ClientId</nz-form-label>
    <nz-form-control>
      <input nz-input type="text" name="clientId" formControlName="clientId">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="description">clientName</nz-form-label>
    <nz-form-control>
      <input nz-input type="text" name="clientName" formControlName="clientName">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" (click)="retrieve()">
        <i nz-icon type="search" theme="outline"></i>查询
      </button>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button (click)="reset()">
        <i nz-icon type="reload" theme="outline"></i>重置
      </button>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="add-new-container">
    <nz-form-control>
      <a class="add-new" [routerLink]="['./','']" [queryParams]="{pageIndex:paginatedresult.pageIndex,isEdit:true}">
        <i nz-icon type="plus-circle" theme="twotone" twoToneColor="#52c41a"></i>
      </a>
    </nz-form-control>
  </nz-form-item>
</form>
<nz-table #table [nzData]="paginatedresult.list" [nzLoading]="isSpinning" [nzFrontPagination]="false" [nzTotal]="paginatedresult.totalCount" [(nzPageIndex)]="paginatedresult.pageIndex" [(nzPageSize)]="paginatedresult.pageSize" (nzPageIndexChange)="search()">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzWidth="80px">序号</th>
      <th nzWidth="50px">Id</th>
      <th nzWidth="50px" nzShowFilter [nzFilterMultiple]="false" [nzFilters]="enabledCandidate" (nzFilterChange)="enabledFilter($event)">Enabled</th>
      <th nzShowSort nzSortKey="ClientId">ClientId</th>
      <th nzCustomFilter>
        ClientName
        <nz-dropdown nzTrigger="click" [nzClickHide]="false" #dropdown>
          <i nz-dropdown nz-icon type="down" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown.nzVisible"></i>
          <div class="custom-filter-dropdown">
            <input nz-input type="text" placeholder="Client Name" style="width:150px;margin-right: 8px;" #clientName>
            <button nz-button nzType="primary" (click)="clientNameFilter(clientName.value)">Search</button>
          </div>
        </nz-dropdown>
      </th>
      <th>Description</th>
      <th nzWidth="110px" nzShowSort nzSortKey="created">Created</th>
      <th nzWidth="110px">Updated</th>
      <th nzWidth="110px">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of table.data;let i=index">
      <td>{{(paginatedresult.pageIndex-1)*paginatedresult.pageSize+i+1}}</td>
      <td>{{item.id}}</td>
      <td [nzShowCheckbox]="true" [nzDisabled]="true" [nzChecked]="item.enabled"></td>
      <td><a [routerLink]="[item.id]" [queryParams]="{ pageIndex:paginatedresult.pageIndex}">{{item.clientId}}</a></td>
      <td>{{item.clientName}}</td>
      <td>{{item.description}}</td>
      <td>{{item.created}}</td>
      <td>{{item.updated}}</td>
      <td class="operation">
        <a (click)="edit(item.id)">
          <i nz-icon type="edit" theme="twotone"></i>
        </a>
        <a (click)="delete(item.id)">
          <i nz-icon type="delete" theme="twotone" twoToneColor="#eb2f96"></i>
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
