.add-new-container {
    float: right;
  }
  
  .add-new-container .add-new {
    font-size: 36px;
  }
  
  .search-form {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    margin-bottom: 16px;
  }
  
  .operation a {
    margin-right: 16px;
    font-size:20px;
  }
  .custom-filter-dropdown {
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  }