<nz-breadcrumb class="breadcrumb">
  <nz-breadcrumb-item>
    <a [routerLink]="['../']">API Resources</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    New
  </nz-breadcrumb-item>
</nz-breadcrumb>
<form nz-form nzLayout="horizontal" [formGroup]="mainForm" class="main-form">
  <nz-form-item>
    <nz-form-label nzSpan="3" [nzFor]="name" nzRequired>Name</nz-form-label>
    <nz-form-control nzSpan="21" nzHasFeedback>
      <input nz-input name="name" placeholder="Name" formControlName="name">
      <nz-form-explain *ngIf="mainForm.get('name').dirty && mainForm.get('name').errors || mainForm.get('name').pending">
        <ng-container *ngIf="mainForm.get('name').hasError('required')">
          请输入Api Resource Name
        </ng-container>
        <ng-container *ngIf="mainForm.get('name').hasError('uniqueApiResourceName')">
          {{mainForm.get('name').value}} 已经存在
        </ng-container>
        <ng-container *ngIf="mainForm.get('name').pending">
          验证中...
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="3" [nzFor]="displayName">Display Name</nz-form-label>
    <nz-form-control nzSpan="21">
      <input nz-input name="displayName" placeholder="DisplayName" formControlName="displayName">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="3" [nzFor]="description">Description</nz-form-label>
    <nz-form-control nzSpan="21">
      <textarea nz-input name="description" rows="2" placeholder="Description" formControlName="description"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzSpan="3">
      <label nz-checkbox formControlName="enabled" nzRequired>Enabled</label>
    </nz-form-control>
    <nz-form-control nzSpan="3">
      <label nz-checkbox formControlName="nonEditable" nzRequired>NonEditable</label>
    </nz-form-control>
    <nz-form-label nzSpan="3" nzRequired>Created</nz-form-label>
    <nz-form-control nzSpan="3">
      <nz-form-text>{{mainForm.get('created')?.value | date:'yyyy-MM-dd HH:mm:ss' }}</nz-form-text>
    </nz-form-control>
    <nz-form-label nzSpan="3">Id</nz-form-label>
    <nz-form-control nzSpan="3">
      <nz-form-text>{{mainForm.get('id').value}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
</form>
<!-- <div nz-row class="operation">
  <div nz-col nzSpan="24">
    <button nz-button type="button" class="editable-add-btn" (click)="addApiScret()" [disabled]="this.apiResource.state===4">
      Add ApiScret
    </button>
  </div>
</div> -->
<nz-form-split>Api Secret</nz-form-split>
<app-api-secret *ngFor="let item of apiResource.secrets" [apiSecret]="item"></app-api-secret>
<div class="empty-subitem">
    <button nz-button type="button" nzType="dashed" (click)="addApiScret()" [disabled]="this.apiResource.state===4">Add Api Secret</button>
</div>

<nz-form-split>Api Scope</nz-form-split>
<app-api-scope *ngFor="let item of apiResource.scopes" [apiScope]="item"></app-api-scope>
<div class="empty-subitem">
    <button nz-button type="button" nzType="dashed" (click)="addApiScope()" [disabled]="this.apiResource.state===4">Add Api Scope</button>
</div>

<div nz-row class="operation">
  <div nz-col nzSpan="12">
    <button nz-button (click)="goBack()">返回</button>
  </div>
  <div nz-col nzSpan="12" style="text-align: right;">
    <button nz-button nzType="primary" [disabled]="!mainForm.valid" [nzLoading]="isSpinning" (click)="submit()" style="margin-right: 8px;">Submit</button>
    <button nz-button type="button" (click)="reset()">Reset</button>
  </div>
</div>