<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"     
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
  <variable name="logDirectory" value="logs"/>
  <targets>
    <target name="DebugLog" xsi:type="File" encoding="utf-8" layout="${longdate} ${logger} ${message}" fileName="${logDirectory}/${shortdate}.log" />
  </targets>
  <rules>
    <logger name="*" levels="Debug,Error" writeTo="DebugLog" />
  </rules>
</nlog>