.main-form {
  margin-bottom: 8px;
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.sub-containner {
  position: relative;
  margin-bottom: 8px;
  padding: 24px 24px 0 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  transition: all .3s;
}

.sub-containner:hover {
  border: 1px solid #1890ff;
}

.new-item-containner {
  display: flex;
  justify-content: center;
  height: 154px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  transition: all .3s;
}

.new-item-containner:hover {
  border: 1px solid #1890ff;
}

.new-item-containner button {
  width: 40%;
  height: 50px;
  margin: auto;
}

.operation {
  margin: 8px 0;
}

.operation .right {
  display: flex;
  justify-content: flex-end;
}

.operation .right>[nz-button] {
  margin-left: 8px;
}
