.main-form {
  margin-bottom: 8px;
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.empty-subitem {
  display: flex;
  justify-content: center;
  height: 154px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  transition: all .3s;
}

.empty-subitem:hover {
  border: 1px solid #1890ff;
}

.empty-subitem button {
  width: 40%;
  height: 50px;
  margin: auto;
}

/* .operation a {
  margin-right: 8px;
  font-size: 20px;
} */

/* .editable-add-btn {
  margin: 8px;
} */

.operation {
  margin: 8px;
}

/* .final-operation [nz-button] {
  margin-right: 8px;
} */
