<nz-layout class="main-layout">
  <nz-sider class="left-side" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">
      {{isCollapsed?'Demo':'Demo4Angular'}}
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu [(nzOpen)]="openMap.authority" (nzOpenChange)="openHandler('authority')">
        <span title><i nz-icon type="user"></i><span class="nav-text">Authority</span></span>
        <ul>
          <li nz-menu-item (click)="navToIdentityResources()">Identity Resources</li>
          <li nz-menu-item (click)="navToClients()">Clients</li>
          <li nz-menu-item (click)="navToUsers()">Users</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-submenu [(nzOpen)]="openMap.user" (nzOpenChange)="openHandler('user')">
        <span title><i nz-icon type="team"></i><span class="nav-text">Users</span></span>
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item><span><i nz-icon type="file"></i><span class="nav-text">File</span></span></li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header class="header">
      <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>
    <nz-content class="content">
      <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="router-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
